{% extends 'frontend/base.html' %}

{% block content %} 
    
  <div class="container" id="homeContainer">
    <div class="row">
      <div class="col-12" id="contenido">
        <h2>Bienvenido al area de administracion</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, voluptates. Dolor sunt ratione repellendus voluptate soluta expedita, similique, aliquam quam porro magni perferendis sint. Pariatur quae veniam tenetur aliquid esse.</p>
        <a href=""><button class="btn btn-primary">Acceder</button></a>
      </div>
    </div>
  </div>
    
{% endblock %}