{% extends 'frontend/base.html' %}

{% block content %} 
    
  <div class="container">
    <div class="row">
    {% for raid in raids %} 
      <div class="card" style="width: 18rem; text-align:center;">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
            <h5 class="card-title">{{raid.name}}</h5>
            <hr>
            <h6>{{ raid.day }}</h6>
            {% if raid.notes %}
              <h6>Notas: </h6>
              <p>{{raid.notes}}</p>
            {% endif %}
            <a href="#" class="btn btn-primary">Informacion</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
    
{% endblock %}