{% extends 'frontend/base.html' %}

{% block  content %}
<div class="container" id="containerRaidU">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nickname:</th>
          <th scope="col">Class:</th>
          <th scope="col">Rol:</th>
          <th class="rankingT" scope="col">Ranking:</th>
          <th scope="col">Assistance:</th>
        </tr>
      </thead>
      <tbody>
        {% for assistance in raid.raid_assistances.all %}
        <tr>
          <td style="font-weight:600">{{assistance.member}}</td>
          <th scope="row"><img src="/static/frontend/img/classes/{{assistance.member.clas}}.jpg" alt=""></th>
          <th scope="row"><img class="" src="/static/frontend/img/role/{{assistance.member.role}}.png" width="38px"></th>
          <td class="rankingT">{{assistance.member.rank}}</td>
          <td>
            <button id="b{{assistance.id}}" class="btn {% if assistance.assistance %}btn-success{% else %}btn-danger{% endif %}" onClick="setAssistance('{{assistance.id}}')">
              {% if assistance.assistance %}<i class="fas fa-check-circle"></i>
              {% else %}<i class="fas fa-times-circle"></i>{% endif %}
            </button>
            {% comment %} <input type="checkbox" aria-label="Checkbox for following text input" {% if assistance.assistance == True %} checked {% endif %}> {% endcomment %}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block js %}
<script>

/* https://docs.djangoproject.com/en/1.8/ref/csrf/#ajax */
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

function setAssistance(id){
  var btn = $(`#b${id}`);
  fetch(`/api/v1/assistance/`, {
    method: 'POST',
    credentials: "same-origin",
    body: JSON.stringify({id: id}),
    headers: {
      "X-CSRFToken": getCookie("csrftoken"),
      "Accept": "application/json",
      "Content-Type": "application/json"
    },
  })
  .then(function(response) {
    return response.json();
  })
  .then(function(data) {
    btn.removeClass('btn-success btn-danger');
    btn.addClass('btn-secondary');
    btn.html('<i class="fas fa-spinner fa-pulse"></i>');
    setTimeout(() => {
      if (data.assistance) {
        btn.addClass('btn-success');
        btn.html('<i class="fas fa-check-circle"></i>');
      }
      else {
        btn.addClass('btn-danger'); 
        btn.html('<i class="fas fa-times-circle"></i>');
      }
    }, 300);
  });
}
</script>
{% endblock %}